.account {
    width: 20%;
    height: 8%;
    left: 99%;
    top: 1%;
    -webkit-transform: translate(-99%, -1%);
    -ms-transform: translate(-99%, -1%);
    transform: translate(-99%, -1%);
    background: #006400;
    border-radius: 45px;
    color: white;
    font-size: 30px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

.search {
    width: 50%;
    height: 7.5%;
    background: #006400;
    border-radius: 45px;
    position: absolute;
    left: 50%;
    top: 1%;
    -webkit-transform: translate(-50%, -1%);
    -ms-transform: translate(-50%, -1%);
    transform: translate(-50%, -1%);
    color: white;
    font-size: 30px;
    font-weight: 400;
    word-wrap: break-word;
}

.search p {

}

table {
   position: fixed;
   top: 25%;
   left: 4%;
   background: #D9D9D9;
   border: 1px solid grey;
}

.map-upload {
    padding: 20px;
    alignment: center;
    background: dodgerblue;
    border: solid darkgreen 10px;
    border-radius: 50px;
    text-align: center;
}

.weather-effects p {
    font-size: 30px;
    font-weight: bold;
}

.weather-effects span {
    font-size: 24px;
    margin-left: 20px;
}

.time-of-day p {
    font-size: 30px;
    font-weight: bold;
}

.time-of-day select {
    font-size: 24px;
}

.game-mode p {
    font-size: 30px;
    font-weight: bold;
}

.game-mode select {
    font-size: 24px;
}

.size p {
    font-size: 30px;
    font-weight: bold;
}

.size select {
    font-size: 24px;
}

.description {
    font-size: 30px;
    margin-top: 30px;
}

input {
    font-size: 20px;
}

.file-loading {
    font-size: 20px;
    margin-bottom: 20px;
}

.file-loading p {
    font-size: 24px;
    font-weight: bold;
}

.controls button {
    font-size: 24px;
    margin-left: 40px;
    background: blue;
    color: orange;
    border-radius: 10px;
}

.controls a {
    font-size: 24px;
    margin-left: 40px;
    margin-right: 40px;
}

h2 {
    font-size: 40px;
}

.mapCard {
    background: dodgerblue;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border: 5px solid green;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.mapContainer {
    max-width: 600px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
}

.mapCard img {
    height: 300px;
    border: solid darkblue 4px;
}

.searchButton {
    font-size: 20px;
    font-weight: bold;
}