<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/Styles.css}">
<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
<head>
    <meta charset="UTF-8">
    <title>Мой профиль</title>
</head>
<body>
    <p class="map-title" th:text="${username}"></p>
    <p class="button">
        <a href="/logout">Выйти из аккаунта</a>
    </p>
    <a class="button" href="/">Главная</a>
    <p>Загруженные карты</p>
    <div th:each="map : ${maps}" class="mapContainer">
        <div class="mapCard">
            <p>
                <img th:src="@{/download-image/} + ${map.Id}">
            </p>
            <a th:href="@{/maps/{id}(id=${map.Id})}">
                <span th:text="${map.Title}"></span>
            </a>
        </div>
    </div>
    <p>Избранные карты</p>
    <div th:each="map : ${favouriteMaps}" class="mapContainer">
        <div class="mapCard">
            <p>
                <img th:src="@{/download-image/} + ${map.Id}">
            </p>
            <a th:href="@{/maps/{id}(id=${map.Id})}">
                <span th:text="${map.Title}"></span>
            </a>
            <a th:href="@{/remove-from-favourites?mapId=} + ${map.Id}">
                Удалить из избранного
            </a>
        </div>
    </div>
</body>
</html>