<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/css/Styles.css}">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>

<body>
<div>
    <form method="POST" action="/login">
        <div class="login-registration-window">
            <h2 class="login-title">Авторизация</h2>
            <label>
                <input class="login-registration-input" name="username" type="text" placeholder="Логин"/>
            </label>
            <label>
                <input class="login-registration-input" name="password" type="password" placeholder="Пароль"/>
            </label>
            <div class="login-registration-button login-button-div">
                <a href="/registration">
                    <p class="login-button-word">Регистрация</p>
                </a>
                <button class="login-registration-button" type="submit">
                    <p>Войти в профиль</p>
                </button>
            </div>
        </div>
    </form>

</div>
</body>
</html>