<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/css/Styles.css}">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>

<body>
<div>
    <form method="POST" action="/login">
        <div style="width: 600px; height: 600px; position: fixed; top: 50%; left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);">
            <div style="width: 600px; height: 600px; left: 0px; top: 0px; position: absolute;
                        background: #006400; border-radius: 10px">
                <div style="width: 253px; height: 85px; left: 230px; top: 60px; position: absolute;
                            color: white; font-size: 40px; font-family: Inter; font-weight: 400;
                            word-wrap: break-word">Authorize</div>
            </div>
            <div style="width: 329px; height: 56px; left: 139px; top: 200px; position: absolute">
                <input style="width: 329px; height: 56px; left: 0px; top: 0px; position: absolute; color:black;
                              font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"
                       name="username" type="text" placeholder="Username"/>
            </div>
            <div style="width: 329px; height: 62px; left: 139px; top: 300px; position: absolute">
                <input style="width: 329px; height: 62px; left: 0px; top: 0px; position: absolute; color: black;
                              font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word"
                       name="password" type="password" placeholder="Password"/>
            </div>
            <div style="width: 252px; height: 92px; left: 325px; top: 478px; position: absolute">
                <button style="width: 252px; height: 92px; position: absolute; color: black;
                               font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word; border-radius: 10px"
                        type="submit">Log In</button>
            </div>
            <div style="width: 252px; height: 92px; left: 25px; top: 478px; position: absolute; background: black; border-radius: 10px">
                <a style="width: 252px; height: 92px; margin: 25px 0; position: absolute; font-size: 30px;
                          font-family: Inter; font-weight: 400; color: white;
                          text-align: center; text-decoration: none;"
                   href="/registration">Registration</a>
            </div>
        </div>
    </form>

</div>
</body>
</html>