<!DOCTYPE html>
<html xmlns:form="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Upload map</title>
</head>

<body>
    <div>
        <form method="POST" action="/upload-map">
            <h2>Загрузить карту</h2>
            <div>
                <p>Название</p>
                <input name="title"/>
                <p>Размер</p>
                <select name="size">
                    <option value="0">128x128</option>
                    <option value="1">256x256</option>
                    <option value="2">512x512</option>
                </select>
                <p>Погодные эффекты</p>
                <p>Дождь</p>
                <input type="checkbox" name="weatherEffects" value="0">
                <p>Туман</p>
                <input type="checkbox" name="weatherEffects" value="1">
                <p>Песчаная буря</p>
                <input type="checkbox" name="weatherEffects" value="2">
                <p>Время суток</p>
                <select name="timeOfDay">
                    <option value="0">Утро</option>
                    <option value="1">День</option>
                    <option value="2">Вечер</option>
                    <option value="3">Ночь</option>
                </select>
                <p>Режим игры</p>
                <select name="gameMode">
                    <option value="0">Deathmatch</option>
                    <option value="1">Командный</option>
                    <option value="2">Захват флага</option>
                </select>
                <p>Описание</p>
                <textarea name="description"></textarea>
                <button type="submit">Загрузить</button>
            </div>
        </form>

        <form method="POST" action="/upload-image" enctype="multipart/form-data">
            <input type="file" name="file" /><br />
            <br /> <input type="submit" value="Submit" />
        </form>

        <a href="/">Главная</a>
    </div>
</body>
</html>