<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/Styles.css}">
<head>
    <meta charset="utf-8">
    <title>Upload map</title>
</head>

<body>
    <div class="map-upload">
        <div th:switch="${username}" class="account">
            <span th:case="null">
                <a th:href="@{/login}">
                    Log in
                </a>
            </span>
            <span th:case="*">
                <a th:href="@{/account}">
                    <span th:text="${username}"></span>
                </a>
            </span>
        </div>
        <form method="POST" action="/upload-map" enctype="multipart/form-data">
            <h2>Загрузка карты</h2>
            <div>
                <label>
                    <input required class="title" placeholder="Название" name="title"/>
                </label>
                <div class="size">
                    <p>Размер</p>
                    <label>
                        <select name="size">
                            <option value="0">128x128</option>
                            <option value="1">256x256</option>
                            <option value="2">512x512</option>
                        </select>
                    </label>
                </div>
                <div class="weather-effects">
                    <p>Погодные эффекты</p>
                    <span>Дождь</span>
                    <label>
                        <input type="checkbox" name="weatherEffects" value="0">
                    </label>
                    <span>Туман</span>
                    <label>
                        <input type="checkbox" name="weatherEffects" value="1">
                    </label>
                    <span>Песчаная буря</span>
                    <label>
                        <input type="checkbox" name="weatherEffects" value="2">
                    </label>
                </div>
                <div class="time-of-day">
                    <p>Время суток</p>
                    <label>
                        <select name="timeOfDay">
                            <option value="0">Утро</option>
                            <option value="1">День</option>
                            <option value="2">Вечер</option>
                            <option value="3">Ночь</option>
                        </select>
                    </label>
                </div>
                <div class="game-mode">
                    <p>Режим игры</p>
                    <label>
                        <select name="gameMode">
                            <option value="0">Deathmatch</option>
                            <option value="1">Командный</option>
                            <option value="2">Захват флага</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>
                        <textarea class="description" name="description" placeholder="Описание"></textarea>
                    </label>
                </div>
                <div class="file-loading">
                    <p>
                        Загрузка изображения
                    </p>
                    <input class="file-loading" type="file" name="imageFile" /><br />
                    <p>
                        Загрузка карты
                    </p>
                    <input class="file-loading" type="file" name="mapFile" /><br />
                </div>
                <div class="controls">
                    <button type="submit">Отправить карту</button>
                    <a href="/">Главная</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>