<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список карт</title>
</head>
<body>
    <p th:text="${map.Title}"></p>
    <p th:text="${map.DateOfAddition}"></p>
    <p th:text="${map.Description}"></p>
    <p th:text="${map.GameMode}"></p>
    <p th:text="${map.Rating}"></p>
    <p th:text="${map.Size}"></p>
    <p th:text="${map.TimeOfDay}"></p>
    <tr th:each="weatherEffect: ${map.WeatherEffects}">
        <td th:text="${weatherEffect}" />
    </tr>
    <img th:src="@{/download-image/} + ${map.Id}">
    <a th:href="@{/download-map-file/} + ${map.Id}">Скачать карту</a>
</body>
</html>