<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/Styles.css}">
<head>
    <title>Список карт</title>
</head>
<body>
    <div th:switch="${username}" class="account">
            <span th:case="null">
                <a th:href="@{/login}">
                    Log in
                </a>
            </span>
        <span th:case="*">
                <a th:href="@{/account}">
                    <span th:text="${username}"></span>
                </a>
            </span>
    </div>
    <p th:text="${map.Title}"></p>
    <p th:text="${map.DateOfAddition}"></p>
    <p th:text="${map.Description}"></p>
    <p th:text="${map.GameMode}"></p>
    <p th:text="${map.Rating}"></p>
    <p th:text="${map.Size}"></p>
    <p th:text="${map.TimeOfDay}"></p>
    <div th:switch="${map.Author}">
        <span th:case="'null'">
            Аккаунт удалён
        </span>
        <span th:case="*">
            <a th:href="@{/users/} + ${map.Author}">
                <span th:text="${map.Author}"></span>
            </a>
        </span>
    </div>
    <tr th:each="weatherEffect: ${map.WeatherEffects}">
        <td th:text="${weatherEffect}" />
    </tr>
    <img th:src="@{/download-image/} + ${map.Id}">
    <a th:href="@{/download-map-file/} + ${map.Id}">Скачать карту</a>
    <a th:href="@{/map-viewer?id=} + ${map.Id}">Смотреть карту</a>
    <div th:switch="${username}">
        <span th:case="*">
                <a th:href="@{/add-to-favourites?mapId=} + ${map.Id}">
                    Добавить в избранное
                </a>
        </span>
    </div>
</body>
</html>