<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/Styles.css}">
<head>
    <meta charset="utf-8">
    <title>Список карт</title>
</head>
<body>
    <p><a class="button" href="/">Главная</a></p>
    <div th:switch="${username}" class="account">
            <span th:case="null">
                <a th:href="@{/login}">
                    Войти в профиль
                </a>
            </span>
        <span th:case="*">
                <a th:href="@{/account}">
                    <span th:text="${username}"></span>
                </a>
            </span>
    </div>
    <div class="map-title" th:switch="${map.Author}">
        <span th:case="'null'">
            Аккаунт удалён
        </span>
        <span th:case="*">
            <a th:href="@{/users/} + ${map.Author}">
                <span th:text="${map.Author}"></span>
            </a>
        </span>
    </div>
    <div class="map-title">
        <p th:text="${map.Title}"></p>
    </div>
    <div class="map-images">
        <img th:src="@{/download-image/} + ${map.Id}">
        <div th:switch="${username}">
            <span th:case="*">
                <a th:href="@{/add-to-favourites?mapId=} + ${map.Id}">
                    Добавить в избранное
                </a>
            </span>
        </div>
    </div>
    <div class="map-description">
        <p th:text="'Размер карты: ' + ${map.Size}"></p>
        <tr th:each="weatherEffect: ${map.WeatherEffects}">
            <td th:text="'Погодные условия: ' + ${weatherEffect}"></td>
        </tr>
        <p th:text="'Время суток: ' + ${map.TimeOfDay}"></p>
        <p th:text="'Режим игры: ' + ${map.GameMode}"></p>
        <p th:text="'Описание: ' + ${map.Description}"></p>
        <p th:text="'Дата создания: ' + ${map.DateOfAddition}"></p>
        <p>
            <div th:switch="${map.Author}">
                <span th:case="'null'">
                    Аккаунт удалён
                </span>
                <span th:case="*">
                    <a th:href="@{/users/} + ${map.Author}">
                        <span th:text="'Автор: ' + ${map.Author}"></span>
                    </a>
                </span>
            </div>
        </p>
    </div>
    <a class="button" th:href="@{/download-map-file/} + ${map.Id}">Скачать карту</a>
    <a class="button" th:href="@{/map-viewer?id=} + ${map.Id}">Смотреть карту</a>
</body>
</html>