<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/Styles.css}">
<head>
    <meta charset="utf-8">
    <title>Список карт</title>
</head>
<body>
    <div th:switch="${username}" class="account">
        <span th:case="null">
            <a th:href="@{/login}">
                Войти в профиль
            </a>
        </span>
        <span th:case="*">
            <a th:href="@{/account}">
                <span th:text="${username}"></span>
            </a>
        </span>
    </div>
    <p><a class="button" href="/">Главная</a></p>
    <form method="GET" action="/maps">
        <input type="text" name="title" value="" size="30" />
        <button class="searchButton" type="submit" >Искать</button>
    </form>
    <div th:each="map : ${maps}" class="mapContainer">
        <div class="mapCard">
            <p>
                <img th:src="@{/download-image/} + ${map.Id}">
            </p>
            <a th:href="@{/maps/{id}(id=${map.Id})}">
                <span th:text="${map.Title}"></span>
            </a>
        </div>
    </div>
</body>
</html>