<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/css/Styles.css}">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
</head>

<body>
<div>
    <form method="POST" action="/registration">
        <div class="login-registration-window">
            <h2 class="registration-title">Регистрация</h2>
            <input class="login-registration-input" name="username" type="text" placeholder="Логин"/>
            <input class="login-registration-input" name="password" type="password" placeholder="Пароль"/>
            <input class="login-registration-input" name="passwordConfirm" type="password" placeholder="Подтверждение пароля"/>
            <div class="login-registration-button registration-button-div">
                <a href="/">
                    <p class="registration-button-word">Главная</p>
                </a>
                <button class="login-registration-button" type="submit">
                    <p>Зарегистрироваться</p>
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>